@model IEnumerable<BookMyShow.Models.State>

@{
    ViewBag.Title = "State";
}

<h4>State</h4>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StateName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StateName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StateId })
        </td>
    </tr>
}

</table>
