@model IEnumerable<BookMyShow.Models.Movie>
    <script src="~/Scripts/jQuery.min.js"></script>
<table class="table" id="moviesTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MovieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icon)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieName) <br />
                <img src="~/Image/EmptyStar.png" height="15" width="15" alt="Star Rating" align="middle" id="1" class="rating" mid="@item.MoviedId" />
                <img src="~/Image/EmptyStar.png" height="15" width="15" alt="Star Rating" align="middle" id="2" class="rating" mid="@item.MoviedId" />
                <img src="~/Image/EmptyStar.png" height="15" width="15" alt="Star Rating" align="middle" id="3" class="rating" mid="@item.MoviedId" />
                <img src="~/Image/EmptyStar.png" height="15" width="15" alt="Star Rating" align="middle" id="4" class="rating" mid="@item.MoviedId" />
                <img src="~/Image/EmptyStar.png" height="15" width="15" alt="Star Rating" align="middle" id="5" class="rating" mid="@item.MoviedId" />
                (@item.RateCount) @{if (item.RateCount > 0)
                {
                        decimal? a = @item.RateTotal / @item.RateCount; <span class="avr"> @a</span>
                } }<br />
                <div class="result"></div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <img src="@Url.Content(item.Icon)" width="200" height="200" />
            </td>           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MoviedId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MoviedId }) |
                @Html.ActionLink("Book Tickets", "BookTickets", new { id = item.MoviedId })
            </td>
        </tr>
    }

</table>
<script type="text/javascript">
    $(function () {
        $('#moviesTable > tbody  > tr').each(function () {

            var av = $(this).find("span.avr").text();

            if (av != "" || av != null) {
                // alert(av);
                // fillRating(parseInt(av));
                var img = $(this).find("img[id='" + parseInt(av) + "']");
                img.attr("src", "/Image/FilledStar.png").prevAll("img.rating").attr("src", "/Image/FilledStar.png");
            }

        });

        $("img.rating").mouseover(function () {
            giveRating($(this), "FilledStar.png");
            $(this).css("cursor", "pointer");
        });

        $("img.rating").mouseout(function () {
            giveRating($(this), "EmptyStar.png");
            refilRating($(this));
        });

        $("img.rating").click(function (e) {
            // $("img.rating").unbind("mouseout mouseover click");
            $(this).css('color', 'red');
            // alert(e.currentTarget + ' was clicked!');
            // call ajax methods to update database
            var url = "/Movie/PostRating?rating=" + parseInt($(this).attr("id")) + "&mid=" + parseInt($(this).attr("mid"));
            $.post(url, null, function (data) {
                $(e.currentTarget).closest('tr').find('div.result').text(data).css('color', 'red') // $("#result").text(data);
            });
        });
    });

    function giveRating(img, image) {
        img.attr("src", "/Image/" + image)
            .prevAll("img.rating").attr("src", "/Image/" + image);
    }
    function refilRating(img1) {
        var rt = $(img1).closest('tr').find("span.avr").text();
        var img = $(img1).closest('tr').find("img[id='" + parseInt(rt) + "']");
        img.attr("src", "/Image/FilledStar.png").prevAll("img.rating").attr("src", "/Image/FilledStar.png");
    }
</script>
